In [1]:
# Import required libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Import the csv file: Accident_Data
df = pd.read_csv('C:\\Users\Servet\Desktop\Project1 Files\Accidents.csv')

In [3]:
# Check the Data Frames head
df.head()

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,MapQuest,201,3,2/8/2016 5:46,2/8/2016 11:00,39.865147,-84.058723,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,MapQuest,201,2,2/8/2016 6:07,2/8/2016 6:37,39.928059,-82.831184,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,MapQuest,201,2,2/8/2016 6:49,2/8/2016 7:19,39.063148,-84.032608,NaN,NaN,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,MapQuest,201,3,2/8/2016 7:23,2/8/2016 7:53,39.747753,-84.205582,NaN,NaN,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,MapQuest,201,2,2/8/2016 7:39,2/8/2016 8:09,39.627781,-84.188354,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day

In [4]:
# Get some summary details about the Data Frame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 49 columns):
ID                       1048575 non-null object
Source                   1048575 non-null object
TMC                      1048575 non-null int64
Severity                 1048575 non-null int64
Start_Time               1048575 non-null object
End_Time                 1048575 non-null object
Start_Lat                1048575 non-null float64
Start_Lng                1048575 non-null float64
End_Lat                  0 non-null float64
End_Lng                  0 non-null float64
Distance(mi)             1048575 non-null float64
Description              1048574 non-null object
Number                   396803 non-null float64
Street                   1048575 non-null object
Side                     1048575 non-null object
City                     1048548 non-null object
County                   1048575 non-null object
State                    1048575 non-null object
Zipcode                  1048435 non-null object
Country                  1048575 non-null object
Timezone                 1047994 non-null object
Airport_Code             1038285 non-null object
Weather_Timestamp        1030944 non-null object
Temperature(F)           1024516 non-null float64
Wind_Chill(F)            173430 non-null float64
Humidity(%)              1023464 non-null float64
Pressure(in)             1027506 non-null float64
Visibility(mi)           1019602 non-null float64
Wind_Direction           1030936 non-null object
Wind_Speed(mph)          840947 non-null float64
Precipitation(in)        121520 non-null float64
Weather_Condition        1019624 non-null object
Amenity                  1048575 non-null bool
Bump                     1048575 non-null bool
Crossing                 1048575 non-null bool
Give_Way                 1048575 non-null bool
Junction                 1048575 non-null bool
No_Exit                  1048575 non-null bool
Railway                  1048575 non-null bool
Roundabout               1048575 non-null bool
Station                  1048575 non-null bool
Stop                     1048575 non-null bool
Traffic_Calming          1048575 non-null bool
Traffic_Signal           1048575 non-null bool
Turning_Loop             1048575 non-null bool
Sunrise_Sunset           1048546 non-null object
Civil_Twilight           1048546 non-null object
Nautical_Twilight        1048546 non-null object
Astronomical_Twilight    1048546 non-null object
dtypes: bool(13), float64(13), int64(2), object(21)
memory usage: 301.0+ MB

In [5]:
#Since there are no informatiojn in two columns, we will drop them
df = df.drop(columns = ['End_Lat', 'End_Lng'])

In [6]:
# Now we will check to make sure the columns have been dropped
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 47 columns):
ID                       1048575 non-null object
Source                   1048575 non-null object
TMC                      1048575 non-null int64
Severity                 1048575 non-null int64
Start_Time               1048575 non-null object
End_Time                 1048575 non-null object
Start_Lat                1048575 non-null float64
Start_Lng                1048575 non-null float64
Distance(mi)             1048575 non-null float64
Description              1048574 non-null object
Number                   396803 non-null float64
Street                   1048575 non-null object
Side                     1048575 non-null object
City                     1048548 non-null object
County                   1048575 non-null object
State                    1048575 non-null object
Zipcode                  1048435 non-null object
Country                  1048575 non-null object
Timezone                 1047994 non-null object
Airport_Code             1038285 non-null object
Weather_Timestamp        1030944 non-null object
Temperature(F)           1024516 non-null float64
Wind_Chill(F)            173430 non-null float64
Humidity(%)              1023464 non-null float64
Pressure(in)             1027506 non-null float64
Visibility(mi)           1019602 non-null float64
Wind_Direction           1030936 non-null object
Wind_Speed(mph)          840947 non-null float64
Precipitation(in)        121520 non-null float64
Weather_Condition        1019624 non-null object
Amenity                  1048575 non-null bool
Bump                     1048575 non-null bool
Crossing                 1048575 non-null bool
Give_Way                 1048575 non-null bool
Junction                 1048575 non-null bool
No_Exit                  1048575 non-null bool
Railway                  1048575 non-null bool
Roundabout               1048575 non-null bool
Station                  1048575 non-null bool
Stop                     1048575 non-null bool
Traffic_Calming          1048575 non-null bool
Traffic_Signal           1048575 non-null bool
Turning_Loop             1048575 non-null bool
Sunrise_Sunset           1048546 non-null object
Civil_Twilight           1048546 non-null object
Nautical_Twilight        1048546 non-null object
Astronomical_Twilight    1048546 non-null object
dtypes: bool(13), float64(11), int64(2), object(21)
memory usage: 285.0+ MB

In [7]:
# Let's check the summary statistics of the numerical variables:
df.describe()

,TMC,Severity,Start_Lat,Start_Lng,Distance(mi),Number,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in)
count,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,396803.000000,1.024516e+06,173430.000000,1.023464e+06,1.027506e+06,1.019602e+06,840947.000000,121520.000000
mean,2.077632e+02,2.358323e+00,3.611783e+01,-9.517610e+01,1.476137e-01,5034.707258,6.197517e+01,26.590321,6.680177e+01,3.003558e+01,9.056237e+00,8.715629,0.059667
std,1.968127e+01,4.824762e-01,4.895696e+00,1.720663e+01,1.361161e+00,8757.437989,1.896201e+01,13.294340,2.182290e+01,2.210940e-01,2.729740e+00,5.034465,0.424239
min,2.000000e+02,0.000000e+00,2.457027e+01,-1.244931e+02,0.000000e+00,1.000000,-7.780000e+01,-55.100000,4.000000e+00,0.000000e+00,0.000000e+00,1.200000,0.000000
25%,2.010000e+02,2.000000e+00,3.300991e+01,-1.173272e+02,0.000000e+00,782.000000,5.000000e+01,20.000000,5.100000e+01,2.992000e+01,1.000000e+01,5.800000,0.000000
50%,2.010000e+02,2.000000e+00,3.541019e+01,-9.021603e+01,0.000000e+00,2499.000000,6.400000e+01,29.300000,6.900000e+01,3.003000e+01,1.000000e+01,8.100000,0.010000
75%,2.010000e+02,3.000000e+00,4.009613e+01,-8.093151e+01,1.000000e-02,6486.000000,7.590000e+01,36.800000,8.500000e+01,3.014000e+01,1.000000e+01,11.500000,0.040000
max,4.060000e+02,4.000000e+00,4.900076e+01,-6.865836e+01,3.336300e+02,851909.000000,1.670000e+02,45.200000,1.000000e+02,3.304000e+01,1.110000e+02,822.800000,10.800000

In [8]:
# Let's check the total missing values in each entry
df.isnull().sum()

ID                            0
Source                        0
TMC                           0
Severity                      0
Start_Time                    0
End_Time                      0
Start_Lat                     0
Start_Lng                     0
Distance(mi)                  0
Description                   1
Number                   651772
Street                        0
Side                          0
City                         27
County                        0
State                         0
Zipcode                     140
Country                       0
Timezone                    581
Airport_Code              10290
Weather_Timestamp         17631
Temperature(F)            24059
Wind_Chill(F)            875145
Humidity(%)               25111
Pressure(in)              21069
Visibility(mi)            28973
Wind_Direction            17639
Wind_Speed(mph)          207628
Precipitation(in)        927055
Weather_Condition         28951
Amenity                       0
Bump                          0
Crossing                      0
Give_Way                      0
Junction                      0
No_Exit                       0
Railway                       0
Roundabout                    0
Station                       0
Stop                          0
Traffic_Calming               0
Traffic_Signal                0
Turning_Loop                  0
Sunrise_Sunset               29
Civil_Twilight               29
Nautical_Twilight            29
Astronomical_Twilight        29
dtype: int64

In [9]:
# Convert Start_Time and End_Time to datetypes
df['Start_Time'] = pd.to_datetime(df['Start_Time'], errors='coerce')
df['End_Time'] = pd.to_datetime(df['End_Time'], errors='coerce')

# Extract year, month, day, hour and weekday
df['Year']=df['Start_Time'].dt.year
df['Month']=df['Start_Time'].dt.strftime('%b')
df['Day']=df['Start_Time'].dt.day
df['Hour']=df['Start_Time'].dt.hour
df['Weekday']=df['Start_Time'].dt.strftime('%a')

In [10]:
# We will check whether these columns has been added
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 52 columns):
ID                       1048575 non-null object
Source                   1048575 non-null object
TMC                      1048575 non-null int64
Severity                 1048575 non-null int64
Start_Time               1048575 non-null datetime64[ns]
End_Time                 1048575 non-null datetime64[ns]
Start_Lat                1048575 non-null float64
Start_Lng                1048575 non-null float64
Distance(mi)             1048575 non-null float64
Description              1048574 non-null object
Number                   396803 non-null float64
Street                   1048575 non-null object
Side                     1048575 non-null object
City                     1048548 non-null object
County                   1048575 non-null object
State                    1048575 non-null object
Zipcode                  1048435 non-null object
Country                  1048575 non-null object
Timezone                 1047994 non-null object
Airport_Code             1038285 non-null object
Weather_Timestamp        1030944 non-null object
Temperature(F)           1024516 non-null float64
Wind_Chill(F)            173430 non-null float64
Humidity(%)              1023464 non-null float64
Pressure(in)             1027506 non-null float64
Visibility(mi)           1019602 non-null float64
Wind_Direction           1030936 non-null object
Wind_Speed(mph)          840947 non-null float64
Precipitation(in)        121520 non-null float64
Weather_Condition        1019624 non-null object
Amenity                  1048575 non-null bool
Bump                     1048575 non-null bool
Crossing                 1048575 non-null bool
Give_Way                 1048575 non-null bool
Junction                 1048575 non-null bool
No_Exit                  1048575 non-null bool
Railway                  1048575 non-null bool
Roundabout               1048575 non-null bool
Station                  1048575 non-null bool
Stop                     1048575 non-null bool
Traffic_Calming          1048575 non-null bool
Traffic_Signal           1048575 non-null bool
Turning_Loop             1048575 non-null bool
Sunrise_Sunset           1048546 non-null object
Civil_Twilight           1048546 non-null object
Nautical_Twilight        1048546 non-null object
Astronomical_Twilight    1048546 non-null object
Year                     1048575 non-null int64
Month                    1048575 non-null object
Day                      1048575 non-null int64
Hour                     1048575 non-null int64
Weekday                  1048575 non-null object
dtypes: bool(13), datetime64[ns](2), float64(11), int64(5), object(21)
memory usage: 325.0+ MB

In [11]:
# Now, I want to replace the missing cells with 'ffill' method. Since the data is in an order, consecutive rows will likely to have similar attributes
df = df.fillna(method='ffill')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 52 columns):
ID                       1048575 non-null object
Source                   1048575 non-null object
TMC                      1048575 non-null int64
Severity                 1048575 non-null int64
Start_Time               1048575 non-null datetime64[ns]
End_Time                 1048575 non-null datetime64[ns]
Start_Lat                1048575 non-null float64
Start_Lng                1048575 non-null float64
Distance(mi)             1048575 non-null float64
Description              1048575 non-null object
Number                   1048574 non-null float64
Street                   1048575 non-null object
Side                     1048575 non-null object
City                     1048575 non-null object
County                   1048575 non-null object
State                    1048575 non-null object
Zipcode                  1048575 non-null object
Country                  1048575 non-null object
Timezone                 1048575 non-null object
Airport_Code             1048575 non-null object
Weather_Timestamp        1048575 non-null object
Temperature(F)           1048575 non-null float64
Wind_Chill(F)            1048573 non-null float64
Humidity(%)              1048575 non-null float64
Pressure(in)             1048575 non-null float64
Visibility(mi)           1048575 non-null float64
Wind_Direction           1048575 non-null object
Wind_Speed(mph)          1048573 non-null float64
Precipitation(in)        1048575 non-null float64
Weather_Condition        1048575 non-null object
Amenity                  1048575 non-null bool
Bump                     1048575 non-null bool
Crossing                 1048575 non-null bool
Give_Way                 1048575 non-null bool
Junction                 1048575 non-null bool
No_Exit                  1048575 non-null bool
Railway                  1048575 non-null bool
Roundabout               1048575 non-null bool
Station                  1048575 non-null bool
Stop                     1048575 non-null bool
Traffic_Calming          1048575 non-null bool
Traffic_Signal           1048575 non-null bool
Turning_Loop             1048575 non-null bool
Sunrise_Sunset           1048575 non-null object
Civil_Twilight           1048575 non-null object
Nautical_Twilight        1048575 non-null object
Astronomical_Twilight    1048575 non-null object
Year                     1048575 non-null int64
Month                    1048575 non-null object
Day                      1048575 non-null int64
Hour                     1048575 non-null int64
Weekday                  1048575 non-null object
dtypes: bool(13), datetime64[ns](2), float64(11), int64(5), object(21)
memory usage: 325.0+ MB

In [13]:
# We still see some missing values, now we will try the 'bfill' method to replace all NaN vales
df = df.fillna(method='bfill')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 52 columns):
ID                       1048575 non-null object
Source                   1048575 non-null object
TMC                      1048575 non-null int64
Severity                 1048575 non-null int64
Start_Time               1048575 non-null datetime64[ns]
End_Time                 1048575 non-null datetime64[ns]
Start_Lat                1048575 non-null float64
Start_Lng                1048575 non-null float64
Distance(mi)             1048575 non-null float64
Description              1048575 non-null object
Number                   1048575 non-null float64
Street                   1048575 non-null object
Side                     1048575 non-null object
City                     1048575 non-null object
County                   1048575 non-null object
State                    1048575 non-null object
Zipcode                  1048575 non-null object
Country                  1048575 non-null object
Timezone                 1048575 non-null object
Airport_Code             1048575 non-null object
Weather_Timestamp        1048575 non-null object
Temperature(F)           1048575 non-null float64
Wind_Chill(F)            1048575 non-null float64
Humidity(%)              1048575 non-null float64
Pressure(in)             1048575 non-null float64
Visibility(mi)           1048575 non-null float64
Wind_Direction           1048575 non-null object
Wind_Speed(mph)          1048575 non-null float64
Precipitation(in)        1048575 non-null float64
Weather_Condition        1048575 non-null object
Amenity                  1048575 non-null bool
Bump                     1048575 non-null bool
Crossing                 1048575 non-null bool
Give_Way                 1048575 non-null bool
Junction                 1048575 non-null bool
No_Exit                  1048575 non-null bool
Railway                  1048575 non-null bool
Roundabout               1048575 non-null bool
Station                  1048575 non-null bool
Stop                     1048575 non-null bool
Traffic_Calming          1048575 non-null bool
Traffic_Signal           1048575 non-null bool
Turning_Loop             1048575 non-null bool
Sunrise_Sunset           1048575 non-null object
Civil_Twilight           1048575 non-null object
Nautical_Twilight        1048575 non-null object
Astronomical_Twilight    1048575 non-null object
Year                     1048575 non-null int64
Month                    1048575 non-null object
Day                      1048575 non-null int64
Hour                     1048575 non-null int64
Weekday                  1048575 non-null object
dtypes: bool(13), datetime64[ns](2), float64(11), int64(5), object(21)
memory usage: 325.0+ MB

Now we have replaced all NaN values

In [15]:
# Now, we will define target and feature variables. Since this project is trying to generate a model to predict the severity of accidents, we will use "Severrity" as targetr variable
target_names = ['Severity']
feature_names = [c for c in df.columns if c not in target_names and df[c].dtype != object and not c.endswith('Time')]
feature_names

['TMC',
 'Start_Lat',
 'Start_Lng',
 'Distance(mi)',
 'Number',
 'Temperature(F)',
 'Wind_Chill(F)',
 'Humidity(%)',
 'Pressure(in)',
 'Visibility(mi)',
 'Wind_Speed(mph)',
 'Precipitation(in)',
 'Amenity',
 'Bump',
 'Crossing',
 'Give_Way',
 'Junction',
 'No_Exit',
 'Railway',
 'Roundabout',
 'Station',
 'Stop',
 'Traffic_Calming',
 'Traffic_Signal',
 'Turning_Loop',
 'Year',
 'Day',
 'Hour']

In [16]:
# Now, we will name X and y
X = df[feature_names]
y = df[target_names]
print(X.shape)
print(y.shape)

(1048575, 28)
(1048575, 1)

In [17]:
# Let's import the re
from sklearn.model_selection import train_test_split

In [99]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.09, random_state=30)

In [100]:
from sklearn.linear_model import LinearRegression

In [101]:
lr = LinearRegression()
lr

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [102]:
lr.fit(X_train, y_train)
trained_score = lr.score(X_train,y_train)
test_score = lr.score(X_test,y_test)

In [103]:
print(test_score)

0.1235772149441654

In [22]:
df.to_csv('accidents_cleaned.csv',index = False)

In [23]:
lr.fit(X, y)
trained_score2 = lr.score(X,y)
test_score2 = lr.score(X,y)

In [24]:
print(test_score2)

0.12054739759596023

In [25]:
lr.fit(X, y)
trained_score2 = lr.score(X,y)
test_score2 = lr.score(X,y)
print(test_score2)

0.12054739759596023

In [27]:
lr.fit(X_train, y_train)
trained_score = lr.score(X_train,y_train)
test_score = lr.score(X_test,y_test)
print(test_score)

0.12004467354411218